*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section{
    display: flex;
    width: 90vw;
}
.imgs.active{
  flex: 5;
}
.imgs{
    height: 80vh;
    position: relative;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 0.5;
    margin: 10px;
    transition: all 800ms ease-in;
}
h2{
    position: absolute;
    left: 20px;
    bottom: 50px;
    color: white;
}
@media (max-width: 480px) {
    section {
      width: 100vw;
    }
  
    .imgs:nth-of-type(4),
    .imgs:nth-of-type(5) {
      display: none;
    }
  }